body{
    background-color:darkblue;
    margin-top:20px;
   
}
.border-5, .border-w-5 {
    border-width: 5px !important;
}
.border-white {
    border: 1px solid transparent;
    border-color: rgb(41, 103, 197) !important;
}
hr.hr-primary {
    border-top-color: #1a57db!important;
}
em {
    font-style: italic;
}
.font-weight-normal {
    font-weight: 400 !important;
    
}
.container h2 {
    padding-top: 5%;
    text-align: center;
}
.container h2, .container h3, .container h5, .container p, .container em {
    color: white;
}
